body, html {
    margin: 0;
    font-family: 'EB Garamond', serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Young Serif', serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 20px 10px;
    background-color: greenyellow;
}

a {
    text-decoration: none;
    color: green;
}

/* this is a test comment */

.container {
    display: flex;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    font-family: 'EB Garamond', serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Young Serif', serif;

}

.title {
    color: rgb(255, 255, 255);
    font-size: 70px;
    margin: 0;
    text-shadow: 2px 2px 5px green;
}


.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle {
    text-shadow: 2px 2px 5px green;
    color: green;
}

.frame {
    background-color: red;
    height: 700px;
    width: 90%;
}

.subtitle{
    color: green;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 5px white;
}

.addboard {
    color: white;
    border: 2px solid black;
}

.logo {
    height: 10px;
    width: 10px;
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
