body, html {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 20px 10px;
    background-color: greenyellow;
    
}

.container {
    display: flex;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    flex-direction: column;
}