.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    font-family: 'EB Garamond', serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Young Serif', serif;
}

.tree {
    width: 100%;
    height: 500px;
}

header{
    background-color: rgb(28, 141, 8);
    color: white;
    text-align: center;
    font-size: 20px;
    height: 50px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goalstext {
    text-align: center;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tools {
    display: flex;
    justify-content: space-around;
    background-color: rgb(28, 141, 8);
    color: white;
    width: 100%;
    
 
}




