.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    background-image: url("/images/tree\ photo.jpg");
}

.frame {
    height: 700px;
    width: 90%;
}

#title{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
}

