
body {
    height: 100%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: green;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: white;
    position: relative;
    top: 10px;
    left: 40px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: white;
    position: relative;
    top: 10px;
    left: 40px;
}

.frame {
    
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.content-wrapper {
    /* Apply flex layout to the content-wrapper to stack children vertically */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.top-text {
    
    padding: 20px; 
}

.bottom-buttons {
    
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    align-items: center;
    
    height: 50px;

}

.goalstext {
    text-align: center;
}
