body, html {
    margin: 0;
    font-family: 'EB Garamond', serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Young Serif', serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 20px 10px;
    background-color: greenyellow;
}

/* this is a test comment */

.container {
    display: flex;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    flex-direction: column;
    font-family: 'EB Garamond', serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Young Serif', serif;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 70px;
    margin: 0;
}

.created {
    color: white;
}

footer {

}