#mydiv {
    position: absolute;
    z-index: 9;
  }
  
  #mydivheader {
    cursor: move;
    z-index: 10;
    font-size: 25px;
    font-weight: bold;

    color: Black;
  }

  html, body {
    margin: 0;
    background-color: rgb(158, 180, 230);
    font-family: 'EB Garamond', serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Young Serif', serif;

}

#ct2 {
    width: 100vw;
    margin: 0;
}

.content {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'EB Garamond', serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Young Serif', serif;
    background-color:rgb(158, 180, 230);
    margin: 0;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: white;
    position: relative;
    top: 10px;
    left: 40px;
}

.tree {
    width: 100%;
    height: 600px;
}

.goalstext {
    text-align: center;
}

.frame {
    display: flex;
    
    justify-content: center;
    align-items: center;
    background: url("images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}

.color-overlay {
    background-color: rgba(248, 247, 216, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.back {

    text-decoration: none;
    color: white;
    font-size: 30px;

}

.material-symbols-outlined {
    margin: 0;
}

.text {
    margin: 10px 0 10px 0;
    font-family: 'EB Garamond', serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Young Serif', serif;
}

.bottom-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}

.image-leaf {
    width: 300px;
    height: 300px;
}

.textwleaf {
    background: url("images/orange-leaf.png"); 
    background-size: cover; 
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textonleaf {
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.material-symbols-outlined {
    cursor: pointer;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.bottom-buttons{
    position: relative;
    bottom: 10px;
    right: 40px;
}

.nav2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.goalstext {
    margin-left: auto;
    margin-right: auto;
    color: rgb(50, 79, 210);
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 5px white;
    text-shadow: 2px 2px 5px rgb(243, 246, 249);
    color: rgb(50, 79, 210);


}

